<div>

    <h3> Create a ship </h3>

    <% form_tag "/board/add_ship", method: :post do %>

      <select name="ship">
        <% @ships.each do |ship| %>
            <option value="<%= @ships.index(ship) %>"> <%= ship %> </option>
        <% end %>
      </select>


      <%= select_tag :position, options: @positions %>

      <%= submit_tag "Add Ship" %>

    <%	end  %>


  <h3> Shoot </h3>

  <% form_tag "/board/shoot", method: :post do %>

      <%= select_tag :shoot_position, options: @positions %>

      <%= submit_tag "Shoot" %>

  <% end  %>


  <div id="battleship-board">

    <table>
      <div class="row">

        <%	 @positions.each do |position| %>
            <tr>
              <th>
                <%= position %>
              </th>
            </tr>
            <tr>
              <td>
                <%= session[:board].ship_at_position(position_from(position)) %>
              </td>
            </tr>
        <% end %>
      </div>
    </table>
  </div>

</div>